<!DOCTYPE html>
<html>
  <head>
    <title>Agoravai</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag controller_name %>
    <%= javascript_include_tag controller_name %>

    <%= yield :head %>
  </head>

  <body>
    <nav class="blue-grey">
      <div class="nav-wrapper">
        <%= link_to "Agora vai 2.0", root_path, class: 'brand-logo center' %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
