<!DOCTYPE html>
<html>
  <head>
    <title>Skeeter</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application' %>
    <%= javascript_include_tag 'application' %>
    <%= stylesheet_link_tag controller_name %>
    <%= javascript_include_tag controller_name %>

    <%= yield :head %>
  </head>

  <body>
    <nav class="blue-grey">
      <div class="nav-wrapper">
        <%= link_to root_path, class: 'brand-logo center' do %>
          <span>Skeeter</span>
          <%= image_tag 'pen-icon-white.png', height: '40px' %>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
